@charset "UTF-8";

/*
	Interphase by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/* Basic */

	body, input {
		font-size: 12pt;
	}

/* Header */

	#header {
		display: none;
	}

/* Banner */

	#banner {
		padding: 12em 2em 10em;
	}

/* Layers */

/* Footer */

	#footer .icons .rounded {
		font-size: 1.5em;
	}
